* {
    margin: 0;
    padding: 0;
}
.spacing {
    margin-right: 5px;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #fff;
}

.header__left {
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
}
.logo {
    height: 70px;
    width: 70px;
}

.header__right {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
    justify-content: space-evenly;
}

.PersonIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    background-color: #eff2f5;
    border-radius: 50% 50%;
    padding: 20px;
}
