.style-input {
    background-color: #f0f2f5;
    border: none;
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 20px;
    color: #82888e;
    font-size: medium;
}
.style-input:focus {
    outline: none;
    color: black;
}
